#err_output{
  background-color: white;
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.9s
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  z-index: 999;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}